
{{ define "title" }} 
PPT - About
{{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Franco</h2>
                <p>👋 Hola soy Franco, Desarrollador Backend. <br><br>

                    🎓 Durante esta etapa estoy aprendiendo a trabajar en equipo, mejorar mi comunicación y manera de transmitir mis ideas. 
                    <br>
                    <br>
                    🌟 Siempre me intereso resolver problemas y me destaqué por ser una persona a la cual le gustan las cosas desafiantes. Por eso cuando conocí el mundo del desarrollo me di la oportunidad de comenzar en el. Tanto realizando proyectos que automatizaron muchísimo mi día a día, como también actualmente tener una cuenta de Instagram con (+5.000 ) seguidores en el que hablo de programación.
                    <br>
                    <br>
                    🎯 Mi objetivo es seguir desarrollándome en el área de Programación Backend continuar creciendo, aportar valor y software de calidad.
                    <br>
                    <br>
                    👨‍💻 Si quieres saber más sobre mi, podes contactar conmigo por LinkedIn o enviarme un correo.
                    <br>
                    <br>
                    Mail de contacto: francorutigliano11@gmail.com</p>
            </div>

            <ul class="social-icons">
                <li class="py-1">
                    <a href="https://www.instagram.com/francorutiglianook/" class="icon-social-media"><i class="bi bi-instagram"></i> Instagram</a>
                </li>
                <li class="py-1">
                    <a href="https://www.linkedin.com/in/francorutigliano/" class="icon-social-media"><i class="bi bi-linkedin"></i> LinkedIn</a>
                </li>
                <li class="py-1">
                    <a href="https://github.com/FrancoRutigliano" class="icon-social-media"><i class="bi bi-github"></i> Github</a>
                </li>
            </ul>
            

        </div>
    </div>
</section>

{{ end }}