{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{  template "title" .  }}</title>
</head>
<body>
    
    <header>
       <div>
            <a href="/">RPS</a>
            <nav>
                <a href="/new">Nuevo</a>
                <a href="/about">About</a>
            </nav>
       </div>
    </header>


    {{ template "content" . }}

    <footer>Creado por Franco Rutigliano &copy; 2024</footer>
</body>
</html>
{{ end }}