header{
    padding: 20px 0;
    background-color: rgb(29, 29, 29);
}

header .logo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    color: white;

}

header nav a:hover  {
    color: rgb(83, 83, 83);
    transition: 0.2s;
}

/* Estilos para los íconos */
.social-icons li {
    list-style: none; /* Elimina los marcadores de lista */
}

/* Estilos para los enlaces */
.icon-social-media {
    color: black; /* Color del texto */
    text-decoration: none; /* Elimina la decoración del enlace */
}

.icon-social-media:hover {
    color: rgb(94, 94, 242);
    transition: 0.2s;
}
